* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .logo_text{
      color: #ffe2cd;
      font-family: 'Righteous', sans-serif;
      font-size: 25px;
}
  span{
      color: #cd564e;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:  #ffe2cd;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #cd564e;
  }
  

  #kr{
    width: 20%;
}