* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .background{
    background-image: url("Assets/background.jpg");
    background-size: cover;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
    z-index: 5;
    background-color: #000000;
    position:sticky;
  }
  
  #kr{
    max-width: 15%;
  }
  .logo {
    margin-right: auto; 
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .logo_text{
      color: #ffe2cd;
      font-family: 'Righteous', sans-serif;
      font-size: 25px;
}
  span{
      color: #df0001;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a{
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    color:  #ffe2cd;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #cd564e;
  }
  
  
.quarter_one{
  display: flex;

}
.text_box{
  margin: 10%;
  width: 40%;
  color: #ffe2cd;
  text-align: center;
}

.text_box h1{
  font-family: "Righteous", sans-serif;
  font-size: 50px;
}

.text_box button{
  padding: 5px 30px;
  margin: 15px;
  background-color:#cd564e;
  border-color: #0b0b0b;
  font-family: "Righteous";
  border-radius: 15px;
}

.text_box button:hover{
  background-color: #0b0b0b;
  color: #cd564e;
  border-color: #ffe2cd;
}

.path_text{
  text-align: center;
  padding: 40px 20px;
  background-color: #000000;
  color: #ffe2cd;
  font-family: "Righteus", sans-serif;
}

.paths{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding-bottom: 80px;
}


.hacker, .engineer, .forensics, .management{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.hacker a{
}
.quad{
  border: 10px solid #cd564e;
  border-radius: 15px;
  background-color: #ffe2cd;
  width: 100%;
  object-fit: cover;
  padding: 10%;
}

.quad:hover{
  border-color:  #ffe2cd;
  background-color: #cd564e;

}

.hacker h3, .engineer h3, .forensics h3, .management h3{
  color: #ffe2cd;
  font-family: "Righteos", sans-serif;
}

.quote{
  background-color: #df0001;
}
.quote h1{
  padding: 10%;
  color: #ffe2cd;
}